section.fdb-block.pt-0
    .container-fluid.p-0.pb-md-5
        iframe.map(
        src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3307.9119041050244!2d-84.3522662!3d33.9947965!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f50b63e451dad1%3A0x3bbff14d406c3afe!2s8725+Roswell+Rd%2C+Atlanta%2C+GA+30350!5e0!3m2!1sen!2sus!4v1516942308375'
        width='100%'
        height='300'
        frameborder='0'
        style='border:0'
        allowfullscreen=''
        )
    .container
        .row.mt-5.mx-5
            .col-12.col-md-6.col-lg-8
                h2 Contact Us
                p.text-h3
                    | Do you have a question or concern call us or leave a message. We will contact
                    | you within 24 hours of leaving on message.
                p.text-h3
                    | Feel free to leave a contact us about any concerns or any problems.
                p.text-h3.mt-5
                    strong Email:
                    a(href='mailto:info@wdglobalgroup.com')
                        |  info@wdglobalgroup.com
                p.text-h3
                    strong Phone:
                    a(href='tel:800-371-3817')
                        |  800-371-3817
